<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="static/scss/test.css" />
    <script src=""
</head>

<body>
    <div class="progress-container">
        <div class="progress-box">
            <div class="progress-fill"></div>
        </div>
        <div class="progress-state state-load">Loading…</div>
        <div class="progress-state state-finish">Complete!</div>
    </div>
    <div class="dump-truck">
        <div class="front"></div>
        <div class="bucket"></div>
        <div class="dirt">
            <div class="dirt-spill"></div>
        </div>
        <div class="base"></div>
        <div class="wheel wheel-front"></div>
        <div class="wheel wheel-middle"></div>
        <div class="wheel wheel-back"></div>
    </div>
    <div class="dump-truck">
        <div class="front"></div>
        <div class="bucket"></div>
        <div class="dirt">
            <div class="dirt-spill"></div>
        </div>
        <div class="base"></div>
        <div class="wheel wheel-front"></div>
        <div class="wheel wheel-middle"></div>
        <div class="wheel wheel-back"></div>
    </div>

    <footer class="bg-dark py-4 mt-auto">
        <div class="text-center justify-content-between flex-column flex-sm-row">
            <div class="small m-0 text-white"> &copy;Chun Wo Construction and Engineering Co. Ltd. </div>
        </div>
    </footer>
</body>

</html>